AZURE_STORAGE_ACCOUNT=azsadve2aipoc
AZURE_CONTAINER_NAME=imaging-pipeline
AZURE_BLOB_PREFIX=Raw_Input/Run1/Batch1/DEID_PNGs/
START_FROM=

DOCLING_FORMAT_AND_RAPID_OUTPUT_DIR=C:\Users\sumit.pandey\Desktop\Imaging\docling_format_and_rapid
RAPID_OUTPUT_DIR=C:\Users\sumit.pandey\Desktop\Imaging\rapid
TESSERACT_OUTPUT_DIR=C:\Users\sumit.pandey\Desktop\Imaging\tesseract
ROTATION_CORRECTED_OUTPUT_DIR=C:\Users\sumit.pandey\Desktop\Imaging\rotation_corrected
ROTATION_CORRECTED_CSV_PATH=C:\Users\sumit.pandey\Desktop\Imaging\rotation_corrected_report.csv

RAPID_MODELS_DIR=C:\Users\sumit.pandey\Desktop\Imaging\rapidocr_models
HW_MODEL_PATH=image_type_classification.pkl
CSV_PATH_HW_PRINTED=C:\Users\sumit.pandey\Desktop\hw_printed.csv
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
